languages-popover {
    #languageSelection {
        position: absolute;
        background: white;
        text-align: center;
        display: inline-block;
        width: 90% !important;
    }
    #flagImage {
        height: 4vh;
        width: 6vh;
    }
}