overlaid-square {
    div {
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 9vh;
    }
    img {
        position: relative;
        top: 20%;
        height: 60%;
    }
}