page-emergencies {
    #titleWithBack {
        left: 12vh;
    }
    #desc {
        margin-top: 8vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px rgb(175, 172, 172) solid;
        background-color: white;
    }
    #emergency-icon {
        font-size: 7vh !important; //Preferred size here
        color: map-get($colors, red);
    }
    #red-label {
        font-size: 19px;
        color: map-get($colors, red)
    }
    .margin {
        margin-left: 16px;
        margin-right: 16px;
    }
    #ionContent {
        background-color: map-get($colors, gray)
    }
    scroll-content {
        padding-top: 10vh !important;
    }
    #spinnerDiv {
        text-align: center;
        position: relative;
        top: 30vh;
    }
}