    page-login {
        ion-content {
            background: transparent none !important;
        }
        ion-footer {
            height: 8vh;
            background: map-get($colors, red);
        }
        #footer {
            color: white;
            font-size: 1.1em;
        }
        button {
            background: map-get($colors, red);
            position: relative;
            top: 100px;
        }
    }